@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* html, body
{
    width: 100%;
    height: 100%;
} */

body {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background: rgb(226,89,149);
background: radial-gradient(circle, rgba(226,89,149,1) 0%, rgba(148,187,233,1) 100%);
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator {
    table-layout: fixed;
    border: 1px solid white;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: normal;
    color: white;
}

.button {
    border: 1px solid white;
    width: 7rem;
    height: 7rem;
    text-align: center;
    font-size: 3rem;
}

.button:hover {
    background-color: rgba(238, 255, 0, 0.397);
    
}

.display {
    border: 1px solid white;
    height: 5rem;
    font-size: 4rem;
    text-align: right;
    padding-right: 0.5rem;
}

.glow {
    text-shadow: 0 0 8px #e5f048;
}

.prevcalc {
    border: 1px solid white;
    width: 8rem;
    height: 3rem;
    text-align: right;
    padding-right: 0.5rem;
    font-size: 2rem;
}